/* Odin Project Landing Page Style Sheet */
body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

/* Header Styles */
header {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding: 0 15%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
}

.navigation .logo {
    display: flex;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.navigation .links {
    display: flex;
}

.navigation li {
    list-style-type: none;
}

.navigation a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    margin: 12% 0;
}

.hero .intro {
    flex: 0.8;
    padding-right: 48px;
}

.hero .head {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.hero .text {
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px 0;
}

.hero .image {
    display: flex;
    flex: 1;
    background-color: gray;
    color: white;
    justify-content: center;
    align-items: center;
}

.hero button {
    color: #E5E7EB;
    background-color: #3882F6;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    width: 130px;
    padding: 10px 20px;
}

/* Content Styles */

